REDIS_URL=redis://localhost:6379/1
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rhytm
API_VERSION=0.0.1
APP_ENV=dev
PYTHONPATH=.

# prod or dev
ENVIRONMENT=dev

PROD_STRIPE_API_KEY=
PROD_STRIPE_WEBHOOK_KEY=

DEV_STRIPE_API_KEY=
DEV_STRIPE_WEBHOOK_KEY=

STRIPE_PRICE_ID_MONTHLY=
STRIPE_PRICE_ID_YEARLY=

EMAIL_SENDER=
EMAIL_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
